<h1>新規追加画面</h1>

<%= form_with scope: :category, url: categorys_path, local: true do |form| %>
    <% if @category.errors.any? %>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<%= link_to 'Back', categorys_path %>