<h1>カテゴリ詳細</h1>

<p>
    <strong>Title: </strong>
    <%= @category.title %>
</p>

<h2>Todos</h2>
<% @category.todos.each do |todo| %> <%# =付けない %>
    <p>
        <strong>内容：</strong>
        <%= todo.body %>
        <%= link_to 'Todoの完了', [todo.category, todo], method: :delete, data: {confirm: 'Are you sure?'} %>
    </p>
<% end %>

<h2>Todo追加</h2>
<%= form_with(model: [@category, @category.todos.build], local: true) do |form| %>
    <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
    </p>

    <p>
    <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', categorys_path %>
<%= link_to 'Edit' , edit_category_path(@category) %>